<html>
   <body>
      <h2>Upload Username list to Fetch Data</h2>
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   

      <h2>Upload Data Directly</h2>

      <form action = "/uploader2" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   

   </body>
</html>
